/* reset css */
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
}
/* general css */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}
/* real css */
.ct {
    position: relative;
}
.ct>li {
    position: absolute;
    /*float: left;*/
    margin: 10px;
    transition: all 1s;
}